<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pokemon API</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1>Hola Mundo</h1>
    <h2>
        Bienvenido, {{ Nombre }}
    </h2>
    <h3>Print de un Dic</h3>
    <table>
        <tr><td>Nombre Completo</td> <td>{{ Nombre+" "+Apellido1+" "+Apellido2}}</td></tr>
    </table>


    {% for variable in Compra %}
        <p>{{ variable }}</p>
    {% endfor %}

    <p>
        {% for x,y in dic.items() %}
            Clave: {{ x }} Valor: {{ y }}
        {% endfor %}
    </p>

    <p>
        Desde python: <br>
        Está la palabra: {{ request.args.get('search') }} en la lista?: {{ "Si" if search else "No"}}
    </p>

    <p>
        Solo desde el HTML
        <br>
        {% if  request.args.get('search') in Compra %}
            La palabra seleccionada está en la lista
        {% else %}
            La palabra seleccionada no está en la lista
        {% endif %}

    </p>
</body>

</html>